h2 {
    color: red;
}

/*------------------하이라이트-------------------*/
.highlight {
  text-align: center;
}

#highlight_area{
    display:grid;
    grid-template-columns: 45px 45px 1fr;
}

.highlight_pic{
    height: 35px;
    width : 35px;
    margin-left: auto;
    margin-right: auto;

}
/*------------------------------------------*/




/*------------------프로필---------------------*/
#profile{
    display: grid;
    grid-template-columns: 1fr 9fr;
}
#profile_info{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 50px;+
}

#profile_pic{
    height: 50px;
    width: 50px;
} 
.circle_pic{
    border : solid white 1px;
    border-radius: 50% ;  
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

#id{
    font-size: 18px;
    font-weight: 100px;
}
button{
    height: 80%;
    width: 95%;

    font-size: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
}

/*------------------------------------------*/






/*-----------------썸네일----------------------*/
.thumbnail_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.thumbnail{
    width: 100%;

}
/*------------------------------------------*/


/*--------------게시물,팔로워,팔로우-------------*/
.stat_bar {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid gray;
    border-bottom : 1px solid gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.stat{
    text-align: center;

}
/*------------------------------------------*/

/*-------------------머리글------------------*/
#top{
    display: grid;
    grid-template-columns: 4fr 7fr 4fr;
    height: 10vw;
    border-bottom: solid gray 0.1px;
    margin-bottom: 1vw;
}
#top img {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 23vw;
    object-fit: contain;

}
#top input {
    height: 60%;
    width: 95%;
    margin: auto;
    text-align: left;
    background-color: rgb(250, 250, 250);
    border: solid gray 1px;
    border-radius: 3px;
    font-size: 3vw;
    font-weight: 100;
}

i{
    color: gray;
}

#top i{
    font-size: 4vw;
    
}
#top div{
    text-align: center;
    padding: 3vw;
}
/*------------------------------------------*/


/*-----------------게시물-------------------*/
#sub_icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    height: 30px;
    
    
    
}
.selected{
   border-bottom: solid grey 3px;
}

  



